<table class="table">
<% if (this.photos) { %>
	<% list(this.photos, function(photo, index) { %>
		<%== can.view.render('//app/articles/views/list-photos-item.ejs', {
			photo: photo,
			data: {}
		}); %>
	<% }); %>
<% } %>
</table>