.filter-form {
	display: none;
}

.article-state {
	width: 20px;
}
.article-state.added {
	background-color: #fff !important;
}
.article-state.ready {
	background-color: yellow !important;
}
.article-state.approved {
	background-color: orange !important;
}
.article-state.published {
	background-color: green !important;
}
.article-state.postponed {
	background-color: blue !important;
}
.article-state.deleted {
	background-color: red !important;
}

.markItUpEditor {
	background: #fff !important;
	border: none !important;
	font: 13px "Helvetica Neue", Helvetica, Arial !important;
	padding: 5px !important;
}

#photos-modal {
	left: 3%;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90%;
	top: 20px;
}
#photos-modal .upload .page-header {
	display: none;
}
#photos-modal .pick {
	cursor: pointer;
}
#photos-modal .snippet-params {
	display: none;
}
#photos-modal .snippet-params table td {
	border: 0;
	padding: 0 20px 0 0;
}

.box-snippet {
	top: 10px;
	position: relative;
	margin-left: 730px;
}

.autosave {
	position: fixed;
	top: 60px;
	right: 150px;
}
.preview {
	position: fixed;
	top: 100px;
	right: 150px;
}

button.add-author, button.add-tag {
	position: relative;
	top: -16px;
}

.title-photo img {
	max-height: 100px;
}
.remove-photo {
	vertical-align: bottom;
}

.connectedSortable {
	border: 1px solid #cccccc;
	height: 100px;
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.connectedSortable li {
	display: block;
	padding: 2px;
	background-color: rgb(226, 226, 226);
	margin: 2px;
	cursor: move;
}
.remove-related:hover {
	background-color: rgb(245, 245, 245);
	cursor: pointer;
}
