# Python
__pycache__
*.py[co]

# project files
media/
ella_hope/app/resources/vendor/
ella_hope/app/resources/less/
ella_hope/app/resources/fonts/

# files created by server
*.db
nohup.out

# IDE files
.project
.pydevproject
