<%
var data = this.data;
if (Object.keys(data).length === 0) {
	data = $('.photos-list').find('table').data('data') || {};
}
%>
<table class="table" <%= (el) -> el.data( 'data', data) %>>
<% if (this.photos) { %>
	<% list(this.photos, function(photo, index) { %>
		<%== can.view.render('//app/articles/views/list-photos-item.ejs', {
			photo: photo,
			data: data
		}); %>
	<% }); %>
<% } %>
</table>

<div class="pagination pagination-centered pagination-photos">
	<ul>
		<li><a href="#" class="prev"><%= $.t('common.prev') %></a></li>
		<li><a href="#" class="next"><%= $.t('common.next') %></a></li>
	</ul>
</div>