.bar {
    height: 18px;
    background: green;
}
.form {
	float: left;
	margin-right: 20px;
}
.upload-buttons, .progress {
	display: none;
	margin-bottom: 10px;
}
.important-part {
	float: left;
}
.important-part td {
	text-align: center;
}
.photo-preview {
	max-height: 550px;
	max-width: 550px;
	position: relative;
}
.photo-preview img {
	max-height: 550px;
	max-width: 550px;
	position: absolute;
}
#photosRemoveAll {
	display: none;
}