.clear {
	clear: both;
}

form .required {
    font-weight: bold;
}
form .required:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.chzn-container {
	float: left;
}

.chzn-container-multi .chzn-choices .search-field input {
	width: auto !important;
}
