.clear {
	clear: both;
}

form .required {
    font-weight: bold;
}
form .required:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.chzn-container-multi .chzn-choices .search-field input {
	width: auto !important;
}

body {
    padding-top: 60px;
}

#load-state {
    background-image: url('../img/load.gif');
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 43px;
    height: 25px;
    display: none;
}
